@media screen and (min-width: 960px) {

  .header,
  .row {
    width: 80%;
  }
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  text-align: center;
  color: #fff;
}

.row {
  background-color: #0b066591;
  margin: 0 auto;
  border: 1px solid black;
}

.get-hint {
  background-color: rgba(125, 21, 21, 0.93);
  padding: 20px;
  width: 30%;
  color: #e2d9d9;
  border: 2px solid #4a0607;
}

.blanks {
  letter-spacing: 5px;
  font-size: 42px;
  color: #fff;
}

.hint-image {
  height: 40%;
  width: 40%;
}

.background {
  padding: 1%;
  margin-bottom: 10px;
  align-self: center;
}

.letters-guessed {
  letter-spacing: 5px;
  font-size: 3vw;
  overflow-wrap: break-word;
}

.incorrect-guesses {
  color: red;
}

.header {
  background: #ffffffe8;
  padding-bottom: 10px;
  color: black;
  border: 1px solid black;
  margin: 20px auto;
}

#hint {
  font-size: 16px;
  padding: 10px;
  background: #00000066;
  margin: 5px;
}

#duplicate-letter {
  font-size: 20px;
  color: red;
}