body {
    text-align: center;
}

.jumbotron {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    color: #fff;
}

.get-hint {
    background-color: rgba(102, 17, 17, 0.671);
    padding: 20px;
    width: 30%;
}

.blanks {
    letter-spacing: 5px;
    font-size: 42px;
    color: #fff;
}

.hint-image {
    height: 40%;
    width: 40%;
}